<mat-toolbar color="primary">
    <a routerLink="/home" style="text-decoration: none; color: white;"><span>Домой</span></a>
    <span class="example-spacer"></span>
    <span>V-28.12.23.15.00</span>
    <span class="example-spacer"></span>
    <a style="text-decoration: none; 
             text-align: center; 
             color: white; 
             font-size: medium;
             cursor: pointer;"
        *ngIf="storageService.isAuthenticatedUser()"
        (click)="logout()">
        <span>( {{storageService.getUserName()}})</span>
        Выход
    </a>
    
</mat-toolbar>