<div>
    <h1 style="margin: 30px;">Core SMS</h1>
    <form [formGroup]="cnForm" class="form-container">
        <mat-grid-list cols="13" rowHeight="85px">
            <mat-grid-tile colspan="1" rowspan="1">
            </mat-grid-tile>
             <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Описание</mat-label>
                    <textarea matInput type="text" formControlName="desc"
                        spellcheck="true">
                    </textarea>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="3">
            </mat-grid-tile>
            <mat-grid-tile colspan="5" rowspan="3">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title>
                                {{' Информационное:'}}
                            </mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Дополнение'">(Дополнения)</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Коррекция'">(Коррекция)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{'Описание: ' + cnForm.value.desc}}</p>
                            <p>{{'Начало: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                            <p>{{'Отправил: ' + user?.first_name + ' ' + user?.last_name}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary" disabled
                                (click)="onSubmitButtonProblem('Информационное')" type="submit"
                                [disabled]="(cnForm.value.startTime == '' )">
                                Отправить SMS
                            </button>
                            <button class="form-button" mat-raised-button color="primary" disabled
                                (click)="onSubmitasNew('Информационное')" type="submit"
                                *ngIf="newForm == false"
                                [disabled]="cnForm.value.startTime == ''">
                                Новое SMS
                            </button>
                            <button class="form-button" mat-raised-button color="primary" (click)="forTestSms('Информационное')" disabled
                                type="submit" [disabled]="cnForm.invalid">
                                TEST SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="margin-container">
                    <p>Начало</p>
                    <input type="datetime-local" class="dateTime" name="startTime" formControlName="startTime"
                        min="2023-01-01T00:00" [max]="time | date: 'yyyy-MM-ddTHH:mm'" />
                </div>

            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == false"
                    (click)="updateData()">Обновить</button>
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == true"
                    [disabled]="cnForm.invalid" (click)="onSubmit()">Добавить</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-chip-listbox formControlName="AddOrCor">
                    <mat-chip-option value="Коррекция">Коррекция</mat-chip-option>
                    <mat-chip-option value="Дополнения">Дополнение</mat-chip-option>
                </mat-chip-listbox>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>