<form [formGroup]="editPageForm" (ngSubmit)="updateRow()">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>description</mat-label>
            <input matInput formControlName="description" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>status</mat-label>
            <mat-select formControlName="status">
                <mat-option value="Waiting">В Ожидании</mat-option>
                <mat-option value="Process">В Процессе</mat-option>
                <mat-option value="Finished">Завершен</mat-option>
                <mat-option value="Canceled">Отменен</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="High">Высокий</mat-option>
                <mat-option value="Medium">Средний</mat-option>
                <mat-option value="Low">Низкий</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="closepopup()" >Close</button>
        <button mat-raised-button color="primary" type="submit">Update</button>
        <button mat-raised-button color="warn" (click)="deleteRow(this.data.text.id)">Delete</button>
    </div>
</form>