<div>
    <h1 style="margin: 30px;">Core SMS</h1>
    <!-- form Filling -->
    <form [formGroup]="cnForm" class="form-container">
        <mat-grid-list cols="25" rowHeight="85px">
            <!-- level -->
            <mat-grid-tile colspan="3" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Уровень</mat-label>
                    <mat-select formControlName="level">
                        <mat-option *ngFor="let lev of level" [value]="lev.value">
                            {{lev.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- categories report -->
            <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Категория для отчета</mat-label>
                    <mat-select formControlName="categories_report" [(ngModel)]="cnForm.value.categories_report">
                        <mat-option *ngFor="let cat_rep of categories_report" [value]="cat_rep.value">
                            {{cat_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect option -->
            <mat-grid-tile colspan="3" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Эффект</mat-label>
                    <mat-select formControlName="effect_option" [(ngModel)]="cnForm.value.effect_option">
                        <mat-option *ngFor="let eff_rep of effect_option" [value]="eff_rep.value">
                            {{eff_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- preview problem -->
            <mat-grid-tile colspan="5" rowspan="8">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title *ngIf="cnForm.value.categories_report == 'ПР'">
                                {{cnForm.value.level.replace('A','П') + ' Проблема:'}}
                            </mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.categories_report != 'ПР'">
                                {{cnForm.value.level + ' Проблема:'}}
                            </mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Дополнения'">
                                (Дополнения)
                            </mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Коррекция'">
                                (Коррекция)
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{cnForm.value.problem}}</p>
                            <p>{{'Причина: ' + cnForm.value.reason}}</p>
                            <p>{{'Эффект: ' + cnForm.value.effect}}</p>
                            <p>{{'Оповещен: ' + cnForm.value.informed}}</p>
                            <p>{{'Начало: ' + cnForm.value.startTime.replace('T', ' ')}}</p>
                            <p>{{'Отправил: ' + user?.username}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Problem')" type="submit"
                                [disabled]="cnForm.value.startTime == '' || cnForm.value.endTime != ''">
                                Отправить SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <!-- preview resheniya-->
            <mat-grid-tile colspan="5" rowspan="8">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title
                                *ngIf="cnForm.value.categories_report == 'ПР'">{{cnForm.value.level.replace('A',
                                'П') + ' Решение:'}}</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.categories_report != 'ПР'">{{cnForm.value.level + '
                                Решение:'}}</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Дополнения'">(Дополнения)</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Коррекция'">(Коррекция)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{cnForm.value.problem}}</p>
                            <p>{{'Причина: ' + cnForm.value.reason}}</p>
                            <p>{{'Эффект: ' + cnForm.value.effect}}</p>
                            <p>{{'Оповещен: ' + cnForm.value.informed}}</p>
                            <p>{{'Описание: ' + cnForm.value.desc}}</p>
                            <p>{{'Начало: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                            <p>{{'Конец: ' + cnForm.value.endTime.replace("T", " ")}}</p>
                            <p>{{'Отправил: ' + user?.username}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Решения')" type="submit"
                                [disabled]="cnForm.value.startTime == '' || cnForm.value.endTime == ''">
                                Отправить SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <!-- preview infromacionoe-->
            <mat-grid-tile colspan="5" rowspan="8">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title
                                *ngIf="cnForm.value.categories_report == 'ПР'">{{cnForm.value.level.replace('A',
                                'П') + ' Информационное:'}}</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.categories_report != 'ПР'">{{cnForm.value.level + '
                                Информационное:'}}</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Дополнения'">(Дополнения)</mat-card-title>
                            <mat-card-title *ngIf="cnForm.value.AddOrCor == 'Коррекция'">(Коррекция)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{cnForm.value.problem}}</p>
                            <p>{{'Причина: ' + cnForm.value.reason}}</p>
                            <p>{{'Эффект: ' + cnForm.value.effect}}</p>
                            <p>{{'Оповещен: ' + cnForm.value.informed}}</p>
                            <p>{{'Описание: ' + cnForm.value.desc}}</p>
                            <p>{{'Начало: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                            <p>{{'Конец: ' + cnForm.value.endTime.replace("T", " ")}}</p>
                            <p>{{'Отправил: ' + user?.username}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Информационное')" type="submit"
                                [disabled]="cnForm.value.startTime == '' || cnForm.value.endTime == ''">
                                Отправить SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <!-- responsible area -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Ответственная Зона</mat-label>
                    <mat-select formControlName="responsible_report" [(ngModel)]="cnForm.value.responsible_report">
                        <mat-option *ngFor="let res_rep of responsible_report" [value]="res_rep.value">
                            {{res_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- category -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Категория</mat-label>
                    <mat-select formControlName="category" [(ngModel)]="cnForm.value.category">
                        <mat-option *ngFor="let cat of category" [value]="cat.value">
                            {{cat.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- informed -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Оповещен</mat-label>
                    <input matInput type="text" formControlName="informed" [(ngModel)]="cnForm.value.informed" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- region -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Регион</mat-label>
                    <mat-select formControlName="region" [(ngModel)]="cnForm.value.region" 
                    [disabled]="cnForm.value.category == ('Roaming') || 
                    cnForm.value.category == ('Core') || cnForm.value.category == ('GPRS')">
                        <mat-option *ngFor="let reg of region" [value]="reg.value">
                            {{reg.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- problem -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Проблема</mat-label>
                    <textarea matInput type="text" formControlName="problem" [(ngModel)]="cnForm.value.problem"
                        spellcheck="true"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- reason -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Причина</mat-label>
                    <textarea matInput type="text" formControlName="reason" [(ngModel)]="cnForm.value.reason"
                        spellcheck="true"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Эффект</mat-label>
                    <textarea matInput type="text" formControlName="effect" [(ngModel)]="cnForm.value.effect"
                        spellcheck="true"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- Description -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Описание</mat-label>
                    <textarea matInput type="text" formControlName="desc" [(ngModel)]="cnForm.value.desc"
                        spellcheck="true"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- start Time -->
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="margin-container">
                    <p>Начало</p>
                    <input type="datetime-local" class="dateTime" name="startTime" formControlName="startTime"
                        min="2023-01-01T00:00" [max]="time | date: 'yyyy-MM-ddTHH:mm'"
                        [(ngModel)]="cnForm.value.startTime" />
                </div>
            </mat-grid-tile>
            <!-- end Time -->
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="margin-container">
                    <p>Конец</p>
                    <input type="datetime-local" class="dateTime" formControlName="endTime" min="2023-01-01T00:00"
                        [max]="time | date: 'yyyy-MM-ddTHH:mm'" [(ngModel)]="cnForm.value.endTime">
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == false"
                    (click)="updateData()">Обновить</button>
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == true"
                    [disabled]="cnForm.invalid" (click)="onSubmit()">Добавить</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
                <mat-chip-listbox formControlName="AddOrCor">
                    <mat-chip-option value="Коррекция">Коррекция</mat-chip-option>
                    <mat-chip-option value="Дополнения">Дополнения</mat-chip-option>
                </mat-chip-listbox>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>