<div>
    <h1 style="margin: 30px;">Core SMS Form</h1>
    <!-- form Filling -->
    <form [formGroup]="cnForm" class="form-container">
        <mat-grid-list cols="12" rowHeight="fit" style="height: 200px;">
            <!-- level -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Level</mat-label>
                    <mat-select formControlName="level">
                        <mat-option *ngFor="let lev of level" [value]="lev.value">
                            {{lev.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- categories report -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Category For Report</mat-label>
                    <mat-select formControlName="categories_report">
                        <mat-option *ngFor="let cat_rep of categories_report" [value]="cat_rep.value">
                            {{cat_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- responsible area -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Responsible area</mat-label>
                    <mat-select formControlName="responsible_report">
                        <mat-option *ngFor="let res_rep of responsible_report" [value]="res_rep.value">
                            {{res_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- problem -->
            <mat-grid-tile colspan="4">
                <mat-form-field class="margin-container">
                    <mat-label>Problem</mat-label>
                    <input matInput type="text" formControlName="problem" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect option -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Эффект</mat-label>
                    <mat-select formControlName="effect_option">
                        <mat-option *ngFor="let eff_rep of effect_option" [value]="eff_rep.value">
                            {{eff_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- reason -->
            <mat-grid-tile colspan="4">
                <mat-form-field class="margin-container">
                    <mat-label>Reason</mat-label>
                    <input matInput type="text" formControlName="reason" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- region -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="region">
                        <mat-option *ngFor="let reg of region" [value]="reg.value">
                            {{reg.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Effect</mat-label>
                    <input matInput type="text" formControlName="effect" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- informed -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Informed</mat-label>
                    <input matInput type="text" formControlName="informed" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- category -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let cat of category" [value]="cat.value">
                            {{cat.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- Description -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="desc" />
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12">
            <!-- start Time -->
            <mat-grid-tile colspan="3">
                <div class="margin-container">
                    <p>Start Time</p>
                    <input 
                        type="datetime-local" 
                        class="dateTime" 
                        name="startTime" 
                        formControlName="startTime" 
                        min="2023-01-01T00:00"
                        [max]="time | date: 'yyyy-MM-ddTHH:mm'" />
                </div>
            </mat-grid-tile>
            <!-- end Time -->
            <mat-grid-tile colspan="3">
                <div class="margin-container">
                    <p>End Time</p>
                    <input 
                        type="datetime-local" 
                        class="dateTime" 
                        formControlName="endTime" 
                        min="2023-01-01T00:00"
                        [max]="time | date: 'yyyy-MM-ddTHH:mm'" >
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- button -->
        <mat-grid-list cols="12">
            <mat-grid-tile colspan="1">
                <button class="form-button" mat-raised-button color="primary" type="button" [disabled]="cnForm.invalid && newForm"
                    (click)="previewButton()">Preview</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" *ngIf="newForm == false">
                <button class="form-button" mat-raised-button color="primary" type="button"
                    (click)="updateData()">Update</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-chip-listbox formControlName="AddOrCor">
                    <mat-chip-option value="correction">Correction</mat-chip-option>
                    <mat-chip-option value="addition">Additional</mat-chip-option>
                </mat-chip-listbox>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
    <!-- Form Preview -->
    <div class="grid-container">
        <div class="grid-item" *ngIf="preview == true && cnForm.value.endTime == null">
            <mat-card class="preview">
                <mat-card-header>
                    <mat-card-title>{{cnForm.value.level + ' Problema:'}}</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'addition'">(Additional)</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'correction'">(Correction)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{cnForm.value.problem}}</p>
                    <p>{{'Prichina: ' + cnForm.value.reason}}</p>
                    <p>{{'Effect: ' + cnForm.value.effect}}</p>
                    <p>{{'Opoveschen: ' + cnForm.value.informed}}</p>
                    <p>{{'Nachalo: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                    <p>{{'Otpravil: ' + user?.username}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonProblem('Problem')" type="submit" *ngIf="newForm == true">Submit
                    </button>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonUpdate('Problem')" type="submit" *ngIf="newForm == false">Send Message
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="grid-item" *ngIf="previewResheniya == true && cnForm.value.endTime != null">
            <mat-card class="preview">
                <mat-card-header>
                    <mat-card-title>{{cnForm.value.level + ' Reshenie:'}}</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'addition'">(Additional)</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'correction'">(Correction)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{cnForm.value.problem}}</p>
                    <p>{{'Prichina: ' + cnForm.value.reason}}</p>
                    <p>{{'Effect: ' + cnForm.value.effect}}</p>
                    <p>{{'Opoveschen: ' + cnForm.value.informed}}</p>
                    <p>{{'Opisaniya: ' + cnForm.value.desc}}</p>
                    <p>{{'Nachalo: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                    <p>{{'Konec: ' + cnForm.value.endTime.replace("T", " ")}}</p>
                    <p>{{'Otpravil: ' + user?.username}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonProblem('Reshenie')" type="submit" *ngIf="newForm == true">Submit
                    </button>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonUpdate('Reshenie')" type="submit" *ngIf="newForm == false">Send Message
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="grid-item" *ngIf="previewResheniya == true && cnForm.value.endTime != null">
            <mat-card class="preview">
                <mat-card-header>
                    <mat-card-title>{{cnForm.value.level + ' Informacionnoe:'}}</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'addition'">(Additional)</mat-card-title>
                    <mat-card-title *ngIf="cnForm.value.AddOrCor == 'correction'">(Correction)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{cnForm.value.problem}}</p>
                    <p>{{'Prichina: ' + cnForm.value.reason}}</p>
                    <p>{{'Effect: ' + cnForm.value.effect}}</p>
                    <p>{{'Opoveschen: ' + cnForm.value.informed}}</p>
                    <p>{{'Opisaniya: ' + cnForm.value.desc}}</p>
                    <p>{{'Nachalo: ' + cnForm.value.startTime.replace("T", " ")}}</p>
                    <p>{{'Konec: ' + cnForm.value.endTime.replace("T", " ")}}</p>
                    <p>{{'Otpravil: ' + user?.username}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonProblem('Informacionnoe')" type="submit" *ngIf="newForm == true">Submit
                    </button>
                    <button class="form-button" mat-raised-button color="primary"
                        (click)="onSubmitButtonUpdate('Informacionnoe')" type="submit" *ngIf="newForm == false">Send Message
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>