<div>
    <form [formGroup]="bscForm" class="form-container">
        <mat-grid-list cols="20" rowHeight="85px">
            <!-- level -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Уровень</mat-label>
                    <mat-select formControlName="level" [(ngModel)]="bscForm.value.level" (ngModelChange)="setDefault()">
                        <mat-option *ngFor="let lev of level" [value]="lev.value">
                            {{lev.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- categories report -->
            <mat-grid-tile colspan="4">
                <mat-form-field class="margin-container">
                    <mat-label>Категория для отчета</mat-label>
                    <mat-select formControlName="categories_report" [(ngModel)]="bscForm.value.categories_report">
                        <mat-option *ngFor="let cat_rep of categories_report" [value]="cat_rep.value">
                            {{cat_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- responsible area -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Ответственная Зона</mat-label>
                    <mat-select formControlName="responsible_report" [(ngModel)]="bscForm.value.responsible_report">
                        <mat-option *ngFor="let res_rep of responsible_report" [value]="res_rep.value">
                            {{res_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- preview problem -->
            <mat-grid-tile colspan="5" rowspan="5">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title>
                                {{bscForm.value.level.replace('P', 'П') + ' BSC Проблема:'}}
                            </mat-card-title>
                            <mat-card-title *ngIf="bscForm.value.AddOrCor == 'Дополнения'">
                                (Дополнения)
                            </mat-card-title>
                            <mat-card-title *ngIf="bscForm.value.AddOrCor == 'Коррекция'">
                                (Коррекция)
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{bscForm.value.problem}}</p>
                            <p>{{'Причина: ' + bscForm.value.reason}}</p>
                            <p>{{'Эффект: ' + bscForm.value.effect}}</p>
                            <p>{{'Начало: ' + bscForm.value.startTime.replace('T',' ')}}</p>
                            <p>{{'Оповещен: ' + bscForm.value.informed}}</p>
                            <p>{{'Отправил: ' + this.user?.first_name + ' ' + this.user?.last_name}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Проблема')" type="submit"
                                [disabled]="bscForm.invalid || bscForm.value.endTime !==''">
                                Отправить Сообщения
                            </button>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="forSmsTesting('Проблема')" type="submit"
                                [disabled]="bscForm.invalid || bscForm.value.endTime !==''">
                                TEST SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <!-- preview resheniya-->
            <mat-grid-tile colspan="5" rowspan="5">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title>
                                {{bscForm.value.level.replace('P', 'П') + ' BSC Решение:'}}
                            </mat-card-title>
                            <mat-card-title *ngIf="bscForm.value.AddOrCor == 'Дополнения'">(Дополнения)</mat-card-title>
                            <mat-card-title *ngIf="bscForm.value.AddOrCor == 'Коррекция'">(Коррекция)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{bscForm.value.problem}}</p>
                            <p>{{'Причина: ' + bscForm.value.reason}}</p>
                            <p>{{'Эффект: ' + bscForm.value.effect}}</p>
                            <p>{{'Описание: ' + bscForm.value.desc}}</p>
                            <p>{{'Начало: ' + bscForm.value.startTime.replace("T", " ")}}</p>
                            <p>{{'Конец: ' + bscForm.value.endTime.replace("T", " ")}}</p>
                            <p>{{'Оповещен: ' + bscForm.value.informed}}</p>
                            <p>{{'Отправил: ' + this.user?.first_name + ' ' + this.user?.last_name}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Решение')" type="submit"
                                [disabled]="(bscForm.invalid) || bscForm.value.endTime==''">
                                Отправить Сообщения
                            </button>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="forSmsTesting('Решение')" type="submit"
                                [disabled]="bscForm.invalid || bscForm.value.endTime ==''">
                                TEST SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <!-- problem -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Проблема</mat-label>
                    <textarea matInput type="text" formControlName="problem"
                        [(ngModel)]="bscForm.value.problem" spellcheck="true"
                        [matAutocomplete]="autoProblem">
                    </textarea>
                    <mat-autocomplete #autoProblem="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptionsProblem | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
            <!-- reason -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Причина</mat-label>
                    <textarea matInput type="text" formControlName="reason"
                        [(ngModel)]="bscForm.value.reason" spellcheck="true"
                        [matAutocomplete]="autoReason">
                    </textarea>
                    <mat-autocomplete #autoReason="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptionsReason | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Эффект</mat-label>
                    <textarea matInput type="text" formControlName="effect"
                        [(ngModel)]="bscForm.value.effect" spellcheck="true"
                        [matAutocomplete]="autoEffect">
                    </textarea>
                    <mat-autocomplete #autoEffect="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptionsEffect | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
            <!-- Description -->
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Описание</mat-label>
                    <textarea matInput type="text" formControlName="desc" [(ngModel)]="bscForm.value.desc" spellcheck="true"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- effect option -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Эффект</mat-label>
                    <mat-select formControlName="effect_option" [(ngModel)]="bscForm.value.effect_option">
                        <mat-option *ngFor="let eff_rep of effect_option" [value]="eff_rep.value">
                            {{eff_rep.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- region -->
            <mat-grid-tile colspan="3" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Регион</mat-label>
                    <mat-select formControlName="region" [(ngModel)]="bscForm.value.region">
                        <mat-option *ngFor="let reg of region" [value]="reg.value">
                            {{reg.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- informed -->
            <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="margin-container">
                    <mat-label>Оповещен</mat-label>
                    <input matInput type="text" formControlName="informed" [(ngModel)]="bscForm.value.informed" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- start Time -->
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="margin-container">
                    <p>Начало</p>
                    <input type="datetime-local" class="dateTime" name="startTime" formControlName="startTime"
                        min="2023-01-01T00:00" [max]="time | date: 'yyyy-MM-ddTHH:mm'"
                        [(ngModel)]="bscForm.value.startTime" />
                </div>
            </mat-grid-tile>
            <!-- end Time -->
            <mat-grid-tile colspan="5" rowspan="1">
                <div class="margin-container">
                    <p>Конец</p>
                    <input type="datetime-local" class="dateTime" formControlName="endTime" min="2023-01-01T00:00"
                        [max]="time | date: 'yyyy-MM-ddTHH:mm'" [(ngModel)]="bscForm.value.endTime">
                </div>
            </mat-grid-tile>
            <!-- buttons -->
            <mat-grid-tile colspan="2">
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == false"
                    (click)="updateData()" [disabled]="bscForm.invalid">Обновить </button>
                <button class="form-button" mat-raised-button color="primary" type="button" *ngIf="newForm == true"
                    [disabled]="bscForm.invalid" (click)="createData()">Создать</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="4">
                <mat-chip-listbox formControlName="AddOrCor">
                    <mat-chip-option value="Коррекция">Коррекция</mat-chip-option>
                    <mat-chip-option value="Дополнения">Дополнения</mat-chip-option>
                </mat-chip-listbox>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>