<div>

    <form [formGroup]="massPowerForm" class="form-container">
        <mat-grid-list cols="25" rowHeight="85px">
             <!-- region -->
             <mat-grid-tile colspan="7">
                <mat-form-field class="margin-container">
                    <mat-label>Регион</mat-label>
                    <mat-select formControlName="region" [(ngModel)]="massPowerForm.value.region">
                        <mat-option *ngFor="let reg of region" [value]="reg.value">
                            {{reg.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- district -->
            <mat-grid-tile colspan="6">
                <mat-form-field class="margin-container">
                    <mat-label>Район</mat-label>
                    <mat-select formControlName="district" [(ngModel)]="massPowerForm.value.district"
                        [disabled]="this.massPowerForm.value.region.value == 'Ташкент.обл'">
                        <mat-option *ngFor="let dis of district" [value]="dis.value">
                            {{dis.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="8">
            </mat-grid-tile>
            <!-- preview infromacionoe-->
            <mat-grid-tile colspan="10" rowspan="8">
                <div class="grid-container">
                    <mat-card class="preview">
                        <mat-card-header>
                            <mat-card-title>
                                Информационное
                            </mat-card-title>
                            <mat-card-title *ngIf="massPowerForm.value.AddOrCor == 'Дополнения'">(Дополнения)</mat-card-title>
                            <mat-card-title *ngIf="massPowerForm.value.AddOrCor == 'Коррекция'">(Коррекция)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{massPowerForm.value.problem + ' не работают в ' + massPowerForm.value.region}}</p>
                            <p>{{'Причина: ' + massPowerForm.value.reason + ' в ' +  massPowerForm.value.region}} </p>
                            <p>{{'Начало: ' + massPowerForm.value.startTime.replace("T", " ")}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitButtonProblem('Информационное')" type="submit"
                                [disabled]="(massPowerForm.invalid) || massPowerForm.value.endTime==''">
                                Отправить Сообщения
                            </button>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="onSubmitasNew('Информационное')" type="submit" *ngIf="newForm == false"
                                [disabled]="(massPowerForm.invalid) || massPowerForm.value.endTime==''">
                                Новое SMS
                            </button>
                            <button class="form-button" mat-raised-button color="primary"
                                (click)="forSmsTesting('Информационное')" type="submit"
                                [disabled]="massPowerForm.invalid || massPowerForm.value.endTime ==''">
                                TEST SMS
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-grid-tile>
           
            
            <!-- problem -->
            <mat-grid-tile colspan="6">
                <mat-form-field class="margin-container">
                    <mat-label>Проблема</mat-label>
                    <textarea matInput type="text" formControlName="problem" [(ngModel)]="massPowerForm.value.problem"
                        spellcheck="true"> </textarea>
                </mat-form-field>
            </mat-grid-tile>
            <!-- reason -->
            <mat-grid-tile colspan="7">
                <mat-form-field class="margin-container">
                    <mat-label>Причина</mat-label>
                    <textarea matInput type="text" formControlName="reason" [(ngModel)]="massPowerForm.value.reason"
                        spellcheck="true" [matAutocomplete]="autoReason">
                    </textarea>
                    <mat-autocomplete #autoReason="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptionsReason | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
            <!-- start Time -->
            <mat-grid-tile colspan="5">
                <div class="margin-container">
                    <p>Начало</p>
                    <input type="datetime-local" class="dateTime" name="startTime" formControlName="startTime"
                        min="2023-01-01T00:00" [max]="time | date: 'yyyy-MM-ddTHH:mm'"
                        [(ngModel)]="massPowerForm.value.startTime">
                </div>
            </mat-grid-tile>
            <!-- buttons -->
            <mat-grid-tile colspan="2" style="margin-left: 25px;">
                <button class="form-button" mat-raised-button type="button" *ngIf="newForm == false"
                    (click)="updateData()" style="position: absolute; bottom: 8px;">Обновить</button>
                <button class="form-button" mat-raised-button type="button" *ngIf="newForm == true"
                    [disabled]="massPowerForm.invalid" (click)="createData()" style="position: absolute; bottom: 0px;" >Создать</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                
            </mat-grid-tile>
            <mat-grid-tile colspan="4">
                <mat-chip-listbox formControlName="AddOrCor" style="position: absolute; bottom: 8px;">
                    <mat-chip-option value="Коррекция">Коррекция</mat-chip-option>
                    <mat-chip-option value="Дополнения">Дополнения</mat-chip-option>
                </mat-chip-listbox>
            </mat-grid-tile>
        </mat-grid-list>

    </form>
</div>