.margin-container {
    margin: 15px;
    width: 100%;
}

.form-container {
    margin: 20px;
    border: 5px solid #e6e6e6;
    border-radius: 10px;
    padding: 15px 15px;
}


.filter {
    width: 100%;
    padding: 6px;
}

.forNotification {
    display: none;
}

.mat-column-name {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}
.mat-column-number {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}

.mat-column-notification {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}

.mat-column-criteria {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}

.mat-column-network {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}
.mat-column-actions {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word;
}

.mat-column-region {
    flex: 0 0 auto !important;
    width: auto !important;
    word-break: break-word
}

button {
    background-color: #572469d5 !important;
    color: white !important;
}

button:disabled {
    background-color: #ececec !important;
    color: rgb(29, 29, 29) !important;
    border: 1px rgba(128, 128, 128, 0.448) solid;
}