<div class="">
    <h1 style="margin: 20px 50px;">Заполните форму для добовления получателя</h1>
    <form [formGroup]="AddPhoneNumber" (ngSubmit)="onSubmit()" class="form-container">
        <mat-grid-list cols="18" rowHeight="100px">
            <!-- Name -->
            <mat-grid-tile colspan="4">
                <mat-form-field class="margin-container">
                    <mat-label>Имя нового получателя</mat-label>
                    <input matInput type="text" formControlName="name" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- Tel number -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Телефон Номер</mat-label>
                    <input matInput type="text" formControlName="number" />
                </mat-form-field>
            </mat-grid-tile>
            <!-- Network -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Сеть</mat-label>
                    <mat-select formControlName="network" multiple>
                        <mat-option *ngFor="let net of network" [value]="net.value">
                            {{net.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            
            <!-- Criteria -->
            <mat-grid-tile colspan="2">
                <mat-form-field class="margin-container">
                    <mat-label>Критерия</mat-label>
                    <mat-select formControlName="criteria" multiple>
                        <mat-option *ngFor="let crit of criteria" [value]="crit.value">
                            {{crit.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- Notification -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Тип запроса</mat-label>
                    <mat-select formControlName="notification" multiple>
                        <mat-option *ngFor="let not of notification" [value]="not.value">
                            {{not.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <!-- Region -->
            <mat-grid-tile colspan="3">
                <mat-form-field class="margin-container">
                    <mat-label>Регион</mat-label>
                    <mat-select formControlName="region" multiple>
                        <mat-option *ngFor="let reg of region" [value]="reg.value">
                            {{reg.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile colspan="1">
                <button class="form-button" mat-raised-button color="primary" type="submit" [disabled]="AddPhoneNumber.invalid">Создать</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>


<div>
    <div class="mat-elevation-z8" style="margin: 25px;">
       <table mat-table [dataSource]="ActivePhoneNumberList" matSort matSortActive="name" matSortDisableClear
      matSortDirection="desc" #table2 #table2sort="matSort">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Наименование</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="Тип" search
            [formControl]="nameFilter"></td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер Телефона</th>
        <td mat-cell *matCellDef="let row">{{row.tel_number}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="number" search
                [formControl]="numberFilter"></td>
    </ng-container>

    <ng-container matColumnDef="network">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Сеть</th>
        <td mat-cell *matCellDef="let row">{{row.network}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="network" search
                [formControl]="networkFilter"></td>
    </ng-container>

    <ng-container matColumnDef="criteria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Критерия</th>
        <td mat-cell *matCellDef="let row">{{row.criteria}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="description" search
                [formControl]="criteriaFilter"></td>
    </ng-container>

    <ng-container matColumnDef="notification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Тип Запроса</th>
        <td mat-cell *matCellDef="let row">{{row.notification}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="notification" search
                [formControl]="notificationFilter"></td>
    </ng-container>

    <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Регион</th>
        <td mat-cell *matCellDef="let row">{{row.region}}</td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="region" search
                [formControl]="regionFilter"></td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element"><a style="text-decoration: none"
            (click)="onDelete(element.id)">Delete</a></td>
        <td mat-footer-cell *matFooterCellDef><input class="filter" matInput placeholder="problem" search
                [formControl]="nameFilter"></td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">
      </tr>

      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>

      <tr *matNoDataRow>
        <td class="mat-cell" colspan="4">The filter does not match any item in the data for this text</td>
      </tr>
    </table>
    </div>
  </div>
  <mat-paginator #paginator [pageSizeOptions]="pageSizes" [length]="resultsLength"
  showFirstLastButtons></mat-paginator>

  <hr>