
<!-- Material table with specified columns -->
<table mat-table [dataSource]="dataSource" matSort>
    <!-- Define column for 'ID' -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Действие</th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="changeCorrectionType(element)">Изменить тип</button></td>
    </ng-container>

    <!-- Define column for 'Name' -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя Пользователя</th>
        <td mat-cell *matCellDef="let element">{{ element.username.replace('_', ' ') }}</td>
    </ng-container>

    <!-- Define column for 'Description' -->
    <ng-container matColumnDef="sentTime">
        <th mat-header-cell *matHeaderCellDef>Время отправки</th>
        <td mat-cell *matCellDef="let element">{{ element.sentTime.replace('T', ' ').substring('0','16') }}</td>
    </ng-container>

    <!-- Define column for 'Description' -->
    <ng-container matColumnDef="alarmreportID">
        <th mat-header-cell *matHeaderCellDef>ID аварии</th>
        <td mat-cell *matCellDef="let element">{{ element.alarmreport }}</td>
    </ng-container>

    <!-- Define column for 'Description' -->
    <ng-container matColumnDef="smsType">
        <th mat-header-cell *matHeaderCellDef>Тип сообшения</th>
        <td mat-cell *matCellDef="let element">{{ element.smsType }}</td>
    </ng-container>

    <!-- Material table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-paginator #paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>