.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  margin: 15px;
}

mat-form-field {
  margin-right: 10px;
  width: 10%;
}

mat-form-field.form-selectable {
  width: 15%;
}

@media only screen and (max-width: 1150px) {
  mat-form-field, mat-form-field.form-selectable {
    width: 30%;
  }
}

@media only screen and (max-width: 750px) {
  mat-form-field, mat-form-field.form-selectable{
    width: 47%;
  }
}

@media only screen and (max-width: 550px) {
  mat-form-field, mat-form-field.form-selectable{
    width: 100%;
  }
}

tr {
  height: fit-content !important;
}

.table-container {
  width: 1800px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 2000px;
}

td, th {
  border-left: 1px solid #ccc; 
}

.striped-row, .striped-row:hover {
  background-color: #c0c0c06a !important
}

tr {
  background-color: #ebebebd4 !important;
}

.mat-column-start_time,
.mat-column-battery,
.mat-column-dg,
.mat-column-power {
  width: 150px
}

.mat-column-site {
  max-width: 100px
}

.mat-column-band,
.mat-column-cell_count,
.mat-column-sitesbehind {
  max-width: 50px
}

.mat-column-region {
  max-width: 100px
}
