.table-style {
    margin: 20px;
}
.hidden {
    background-color: brown;
    display: none;
}
.filter {
    width:100%;
    padding: 6px;
}

.success {
    background-color: yellow;
    font-weight: bold;
}

.fail {
    background-color: transparent;
}
